body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}

.btn {
  background-color: #3a86ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;

  &:hover {
    background-color: #4361ee;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.action-btn{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
